.menu div{
    width: 150px;
    height: 32px;
    background: -webkit-linear-gradient(top, #333, #999, #000) repeat-x;
    background: -o-linear-gradient(top, #333, #999, #000) repeat-x;
    background: -ms-linear-gradient(top, #333, #999, #000) repeat-x;
    background: -moz-linear-gradient(top, #333, #999, #000) repeat-x;
    border-radius: 20px 20px 0px 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: table-cell;  
    text-transform: uppercase;
}
.menu ul{
    list-style: inside url(bullet.png);
    box-shadow: 5px 5px 10px #000;
    border: 1px solid #000;
    width: 148px;
    padding: 0;
    margin: 0;
}
.menu li{
    padding: 5px;
    width: 138px;
    cursor: pointer;
    text-transform: capitalize;
}
.menu li:hover{
    background: yellow;
    font-weight: bold;
    color: red;
}